<template>

  <v-container v-if="loading">
    <div class="text-xs-center">
        <v-progress-circular
          indeterminate
          :size="150"
          :width="8"
          color="blue">
        </v-progress-circular>
      </div>
  </v-container>

  <v-container v-else>
    <v-layout wrap>
      <v-flex xs12 mr-1 ml-1>
        <v-card class="mx-auto"
          elevation="12">
          <v-card-title>Name: {{singleBrewery.name}}</v-card-title>
          <v-card-subtitle class="pb-0">{{singleBrewery.brewery_type}}</v-card-subtitle>
          <v-card-text class="text--primary">
            <h3>City: {{singleBrewery.city}}</h3>
            <h4>Street: {{singleBrewery.street}}</h4>
            <div>State: {{singleBrewery.state}}</div>
          </v-card-text>
          <v-card-actions>
            <v-btn text @click="back">
              <v-icon medium>arrow_back</v-icon>
            </v-btn>
            <v-btn color="purple" text
              @click="openWebsite(singleBrewery.website_url)"
              >Explore</v-btn>

            <v-spacer></v-spacer>
            <v-btn icon @click="show = !show">
              <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
            </v-btn>
          </v-card-actions>

          <v-expand-transition>
            <div v-show="show">
              <v-divider></v-divider>

              <v-card-text class="text--primary justify-center">
                <div>Postal code: {{singleBrewery.postal_code}}</div>
                <div>Country: {{singleBrewery.country}}</div>
                <div>Longitude: {{singleBrewery.longitude}}</div>
                <div>Latitude: {{singleBrewery.latitude}}</div>
                <div>Phone: {{singleBrewery.phone}}</div>
                <div>Website: {{singleBrewery.website_url}}</div>
                <div>Updated At: {{singleBrewery.updated_at}}</div>
                <v-flex xs4
                  v-for="(item, index) in singleBrewery.tag_list"
                  :key="index" mb-2
                >
                  <v-chip
                    class="ma-2"
                  >
                    {{item}}
                  </v-chip>
                </v-flex>
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import breweryApi from '@/services/BreweryApi'
export default {
  props: ['id'],
  data () {
    return {
      show: false,
      singleBrewery: '',
      dialog: false,
      loading: true
    }
  },
  mounted () {
    breweryApi
      .fetchSingleBrewery(this.id)
      .then(response => {
        debugger
        this.singleBrewery = response
        this.loading = false
      })
      .catch(error => {
        console.log(error)
      })
  },
  methods: {
    back () {
      this.$router.push('/')
    },
    openWebsite (url) {
      window.open(url, '_blank')
    }
  }
}
</script>

<style lang="stylus" scoped>
.v-progress-circular
  margin: 1rem
</style>
