<template>
  <v-container v-if="loading">
    <div class="text-xs-center">
      <v-progress-circular
      indeterminate
      :size="150"
      :width="8"
      color="blue">
      </v-progress-circular>
    </div>
  </v-container>

  <v-container v-else grid-list-xl>
    <v-layout wrap>
      <v-flex xs4
        v-for="(item, index) in wholeResponse"
        :key="index" mb-2>
        <v-card class="mx-auto"
          elevation="12">
          <v-card-title>Name: {{item.name}}</v-card-title>

          <v-card-subtitle class="pb-0">Type: {{item.brewery_type}}</v-card-subtitle>

          <v-card-text class="text--primary">
            <h3>City: {{item.city}}</h3>
            <h4>Street: {{item.street}}</h4>
            <div>State: {{item.state}}</div>
          </v-card-text>

          <v-card-actions class="justify-center">
            <v-btn icon color="green" text @click="singleBrewery(item.id)">
              <v-icon large>visibility</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import breweryApi from '@/services/BreweryApi'

export default {
  data () {
    return {
      wholeResponse: [],
      loading: true
    }
  },
  mounted () {
    breweryApi
      .fetchBreweryCollection(10)
      .then(response => {
        this.wholeResponse = response
        this.loading = false
      })
      .catch(error => {
        console.log(error)
      })
  },
  methods: {
    singleBrewery (id) {
      this.$router.push('/breweries/' + id)
    }
  }
}
</script>
<style lang="stylus" scoped>
.v-progress-circular {
  margin: 1rem
}
</style>
